{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Products Start -->
<div class="container-fluid product py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary">Our Products</h4>
            <h1 class="display-3 text-capitalize mb-3">We Deliver Best Quality Bottle Packs.</h1>
        </div>
        <div class="row g-4 justify-content-center">
            {% for produit in produits %}
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="product-item">
                    <img src="{{ produit.image.url }}" class="img-fluid w-100 rounded-top" alt="{{ produit.nom }}">
                    <div class="product-content bg-light text-center rounded-bottom p-4">
                        <p>{{ produit.volume }}</p> <!-- Si tu veux afficher un volume, sinon retire -->
                        <h4 class="d-inline-block mb-3">{{ produit.nom }}</h4>
                        <p class="fs-4 text-primary mb-3">{{ produit.description }} €</p>
                        <a href="#" class="btn btn-secondary rounded-pill py-2 px-4">Read More</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Aucun produit pour l'instant.</p>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Products End -->
{% endblock %}
